<footer>
  <div class="container">
    <div class="footer d-flex justify-content-center border-bottom pb-3 mb-3 rounded bg-success-subtle">
      <div class="footer-copyright text-center text-dark mr-5">
        Inscrivez-vous à notre lettre d'information pour ne rien rater des dernières nouveautés et actualités When To Plant !
      </div>

      <div class="d-flex flex-column flex-sm-row w-100 gap-2 m-2">
        <label for="newsletter" class="visually-hidden">Votre email</label>
        <input id="newsletter" type="text" class="form-control" placeholder="Votre email" style="border-radius:20px;">
        <button class="btn btn-success text-white" type="button" style="border-radius:20px;">S'inscrire</button>
        </div>

      <div class="footer-links">
        <a href="https://www.instagram.com/when_toplant/ "><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61562363171250 "><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@WhenToPlant"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/whentoplant"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <%= image_tag "whentoplantfull.png", class: "image-center", style: "width:189px; height:50px;" %>
  </div>

  <div class="py-0 my-1">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
      <%= link_to "Recrutement", recrutement_path, class: "nav-link px-2 text-muted" %>
    </li>
      <li class="nav-item">
        <%= link_to "Mentions légales", mentions_legales_path, class: "nav-link px-2 text-muted" %>
      </li>
    </ul>
  </div>
</footer>
