<div class="container mt-5 mb-3 w-75 m-auto">
  <h1>Contact</h1>
  <p>Pour toutes questions concernant votre potager, des plantes, remarques, problème ou candidature !</p>
  <a href="mailto:contact@whentoplant.me" class="btn btn-primary rounded-pill">Cliquez ici !</a>

</div>
