<div class="container mb-3 mt-3">
  <h1>Contact</h1>
  <p>Utilisez cette adresse email pour toutes questions concernant votre potager, des plantes, remarques, problème ou candidature !</p>
  <p>contact@whentoplant.me</p>
</div>
