<div class="container mb-3 mt-3">
  <h1>Contact</h1>
  <p>Pour toutes questions concernant votre potager, des plantes, remarques, problème ou candidature !</p>
  <a href="mailto:contact@whentoplant.me" class="btn btn-primary rounded-pill">Cliquez ici !</a>

</div>
