<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://36vine.com/wp-content/uploads/2023/12/aa83f2ab7561ac20f6a4b07ac336eaa8.webp);">
    <div class="container">
      <h1 style="text-align: center;">When To Plant 🌱</h1>
      <h3 style="text-align: center;">L'art de planter</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, vitae, harum soluta, illum voluptatibus
        minus assumenda necessitatibus asperiores ratione vero quos. Voluptas iure provident doloremque fuga harum autem
        a ut.
      </p>
    </div>
  </div>

  <h1>Les plantes du mois</h1>
  <div class="cards">
   <% @plants.each do |plant| %>
    <div class="card-trip">
      <div class="card-trip-infos">
        <%= cl_image_tag plant.photos.first.key %>
        <div class="cards-title">
          <h2><%= plant.name %></h2>
          <p>
            <%= plant.description.truncate(127, separator: ' ') %>
          </p>
        </div>
      </div>
      <div class="card-btn">
        <%= link_to "Voir plus de détails", plant_path(plant), class: "btn btn-ghost" %>
      </div>
    </div>
    <% end %>
  </div>


  <h1>Le calendrier</h1>
</body>
