.navbar-lewagon {
  justify-content: space-between;
  background: #DAF1DF;
  height: 75px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-size: 16px;
  color: rgb(156, 156, 156);
  border: 2px solid;
  transition: width 300ms,
  background-position 300ms;
  overflow: hidden;
  background: url(https://static-00.iconduck.com/assets.00/search-bold-icon-2048x2038-on7xw00o.png) no-repeat transparent;
  background-size: 20px;
  background-position: 45% 50%;
  }

  .search:hover {
  cursor: pointer;
  border: 2px solid ;
  background: url(https://static-00.iconduck.com/assets.00/search-bold-icon-2048x2038-on7xw00o.png) no-repeat transparent;
  background-size: 20px;
  background-position: 45% 50%;
  }

  .search:focus, .search:not(:placeholder-shown) {
  max-width: 300px;
  width: 100%;
  cursor: text;
  padding-left: 60px;
  outline: none;
  transition: width 500ms,
  background-position 300ms;
  border: 2px solid;
  background-color: transparent;
  background: url(https://static-00.iconduck.com/assets.00/search-bold-icon-2048x2038-on7xw00o.png) no-repeat;
  background-size: 20px;
  background-position: 10px 50%;
}
